**Can you write a program to calculate the number of A,T,G,C and then GC%?**

In [12]:
seq = "AATCCGCTAG"
num_A = seq.count("A")
num_G = seq.count("G")
num_C = seq.count("C")
num_T = seq.count("T")

In [13]:
num_A

3

In [14]:
num_G

2

In [20]:
per_GC= round((seq.count('C') + seq.count('G')) / len(seq) * 100)
print("GC content is", per_GC, "%")

GC content is 50 %

In [21]:
per_GC= round((seq.count('C') + seq.count('G')) / len(seq) * 100)
per_AT = round((seq.count('A') + seq.count('T')) / len(seq) * 100)
if per_GC > per_AT:
    print("GC content is more", per_GC)
elif per_AT > per_GC:
        print("AT content is more", per_AT)
else:
        print("AT and GC content are equal.")

AT and GC content are equal.

**Find complementary sequence of the following code**

In [36]:
a = "AATGCTaaaaaaatgctgtATGC"
seq = a.upper()
seq = seq.replace("A", "t").replace("C", "g").replace("T", "a").replace("G", "c")
seq = seq.upper()
seq

'TTACGATTTTTTTACGACATACG'

**Print reverse of given sequence**

In [4]:
seq2 = "AATGCTaaaaaaatgctgtATGC"
seq2 = seq2.upper()
seq2 = seq2[::-1]
seq2

'CGTATGTCGTAAAAAAATCGTAA'

**Make reverse compliment of given sequence (reverse transcriptase)**

In [38]:
seq3 = "ATGCATGCTGCATGACTCTGACT"
seq3 = seq3[::-1]     #reversing the string
seq3 = seq3.replace("A", "t").replace("C", "g").replace("T", "a").replace("G", "c")  #making a complementary string
seq3 = seq3.upper()
seq3

'AGTCAGAGTCATGCAGCATGCAT'

In [42]:
#alternate method

def ReverseCompliment(seq):
    up = seq.upper()
    reverse = up[:: -1]
    compliment = reverse.replace("A", "t").replace("C", "g").replace("T", "a").replace("G", "c")
    rc = compliment.upper()
    return rc

ReverseCompliment("AATGCTaaaaaaatgctgtATGC")

'GCATACAGCATTTTTTTAGCATT'

**Check if a sequence is dna or rna and print likewise**

In [41]:
seqA = "AGCUACGAACUG"
seqB = "AGCTAGCTTGAC"

if "U" not in seqA:
    print("seqA is DNA")
else:
    print("seqA is RNA")
    
if "U" not in seqB:
    print("seqB is DNA")
else:
    print("seqB is RNA")

seqA is RNA
seqB is DNA

In [46]:
#alternate method

def RNAorDNA(seq):
    seq=seq.upper()
    if seq.find("U") == -1:       #find function finds a letter and indexes it as +1, so a dna sequence needs -1
        return 'This is a DNA sequence'
    else:
        return 'This is a RNA sequence'
    
RNAorDNA("AGCUACGAACUG")

'This is a RNA sequence'

**Read a fasta file and print**

**1. length of the sequence**
**2. how many ATAT you encounter?**
**3. what is the GC %?**

In [1]:
with open(r"C:\Users\User\Desktop\Programming\Python\learning python\data\sample.fasta", encoding='utf-8-sig') as f:
    seq = f.read()
seq

'GTGTCGGAGGCTCCATCGACATGGAACGAGCGGTGGCAAGAAGTTACTAATGAGCTGCTGTCACAGTCTCAGGACCCGGAAAGTGGTATTTCCATTACGCGACAGCAAAGCGCCTACCTGCGTCTGGTTAAACCAGTTGCTTTTGTAGAGGGTATTGCCGTTTTAAGCGTTCCTCACGCCCGAGCGAAAAAAGAGATTGAAACTACGCTGGGACCTGTTATCACAGAGGTATTGTCTCGTAGACTAGGTCGACAATACAGTCTTGCAGTGAGCGTTCATGCTCCAGAGGAAAATCCAGAAGTATCCTCGGCCACTCCAGATGCTGTGTCTTATTACCAGGAACAATCTGCAGTTTCTGGACAATACGGAGCAACTTCAGCCAATGCTGACTTCCAGAATCAACAAAGCACGATATATCGCAAGCCACAGGAGTCGCAGTATCCTGTGACTTTTGGTGCTTCTTCATACGGAAATGAGAAGTACCAGGAAAATTCCCAAGACCAGGGCATTTCTCATCATCCTTATGGTTTTAATGAGGCTCAACGCATTGCTTCATCTGCCTCTCATGCTGTTCCGCAAAGTGGTTCTGAGCTACTGCAC'

In [2]:
seq=seq.upper()

In [3]:
len(seq)

600

In [4]:
seq.count("ATAT")

1

In [5]:
per_GC= (seq.count('C') + seq.count('G')) / len(seq) * 100
print("GC content is", per_GC, "%")

GC content is 48.16666666666667 %

In [2]:
#alternate way to read

f = open(r"C:\Users\User\Desktop\Programming\Python\learning python\data\sample.fasta", "r")
seq = f.read()
  
seq = seq.replace("\n", "")
seq = seq.replace("\r", "")
seq

'GTGTCGGAGGCTCCATCGACATGGAACGAGCGGTGGCAAGAAGTTACTAATGAGCTGCTGTCACAGTCTCAGGACCCGGAAAGTGGTATTTCCATTACGCGACAGCAAAGCGCCTACCTGCGTCTGGTTAAACCAGTTGCTTTTGTAGAGGGTATTGCCGTTTTAAGCGTTCCTCACGCCCGAGCGAAAAAAGAGATTGAAACTACGCTGGGACCTGTTATCACAGAGGTATTGTCTCGTAGACTAGGTCGACAATACAGTCTTGCAGTGAGCGTTCATGCTCCAGAGGAAAATCCAGAAGTATCCTCGGCCACTCCAGATGCTGTGTCTTATTACCAGGAACAATCTGCAGTTTCTGGACAATACGGAGCAACTTCAGCCAATGCTGACTTCCAGAATCAACAAAGCACGATATATCGCAAGCCACAGGAGTCGCAGTATCCTGTGACTTTTGGTGCTTCTTCATACGGAAATGAGAAGTACCAGGAAAATTCCCAAGACCAGGGCATTTCTCATCATCCTTATGGTTTTAATGAGGCTCAACGCATTGCTTCATCTGCCTCTCATGCTGTTCCGCAAAGTGGTTCTGAGCTACTGCAC'

In [3]:
print(len(seq))

600

**Write s function that converts mRNA input to a protein**

Write a function mrna_to_protein that takes an mRNA sequence (as a string) and returns the sequence of amino acids (as a string), stopping the first time a Stop codon is encountered. Make sure that the file is only read once when running the script (and not every time you want to translate a codon). You will likely need to use a Python dictionary to help.

Finally, write a function dna_to_protein that takes a DNA sequence (as a string) and returns the sequence of amino acids (as a string), making use of the functions that you wrote previously.

Print out the amino acid sequence for the following DNA sequence:

AATCTCTACGGAAGTAGGTCAGTACTGATCGATCAGTCGATCGGGCGGCGATTTCGATCTGATTGTACGGCGGGCTAG

In [72]:
#finding the mRNA sequence

DNA_seq = "AATCTCTACGGAAGTAGGTCAGTACTGATCGATCAGTCGATCGGGCGGCGATTTCGATCTGATTGTACGGCGGGCTAG"

def DNA_to_RNA(DNA_seq):
    mRNA = DNA_seq.replace("T", "U")
    return mRNA
    
DNA_to_RNA("AATCTCTACGGAAGTAGGTCAGTACTGATCGATCAGTCGATCGGGCGGCGATTTCGATCTGATTGTACGGCGGGCTAG")

'AAUCUCUACGGAAGUAGGUCAGUACUGAUCGAUCAGUCGAUCGGGCGGCGAUUUCGAUCUGAUUGUACGGCGGGCUAG'

In [79]:
#mRNA to protein

def mRNA_to_protein(mRNA):
    key = {"UUU":"F", "UUC":"F", "UUA":"L", "UUG":"L", "UCU":"S", "UCC":"S", "UCA":"S", "UCG":"S",
           "UAU":"Y", "UAC":"Y", "UAA":"stop", "UAG":"stop", "UGU":"C", "UGC":"C", "UGA":"stop", 
           "UGG":"W", "CUU":"L", "CUC":"L", "CUA":"L", "CUG":"L", "CCU":"P", "CCC":"P", "CCA":"P", "CCG":"P",
           "CAU":"H", "CAC":"H", "CAA":"Q", "CAG":"Q", "CGU":"R", "CGC":"R", "CGA":"R", "CGG":"R",
           "AUU":"I", "AUC":"I", "AUA":"I", "AUG":"M", "ACU":"T", "ACC":"T", "ACA":"T", "ACG":"T",
           "AAU":"N", "AAC":"N", "AAA":"K", "AAG":"K", "AGU":"S", "AGC":"S", "AGA":"R", "AGG":"R",
           "GUU":"V", "GUC":"V", "GUA":"V", "GUG":"V", "GCU":"A", "GCC":"A", "GCA":"A", "GCG":"A",
           "GAU":"D", "GAC":"D", "GAA":"E", "GAG":"E", "GGU":"G", "GGC":"G", "GGA":"G", "GGG":"G",}
    protein = ""
    if len(mRNA)%3 == 0:
        for i in range(0, len(mRNA), 3):
            codon = mRNA[i: i+3]
            aa = key.get(codon)
            if aa == "stop":
                break
            protein+= key[codon]
        return protein
        
mRNA_to_protein("AAUCUCUACGGAAGUAGGUCAGUACUGAUCGAUCAGUCGAUCGGGCGGCGAUUUCGAUCUGAUUGUACGGCGGGCUAG")

'NLYGSRSVLIDQSIGRRFRSDCTAG'

In [78]:
#DNA to protein

def DNA_to_protein(DNA_seq):
    mRNA = DNA_to_RNA(DNA_seq)
    protein = mRNA_to_protein(mRNA)
    return protein

DNA_to_protein("AATCTCTACGGAAGTAGGTCAGTACTGATCGATCAGTCGATCGGGCGGCGATTTCGATCTGATTGTACGGCGGGCTAG")

'NLYGSRSVLIDQSIGRRFRSDCTAG'

**Calculate frequency of every amino acid in the format of a dataframe for a particular protein sequence**

In [90]:
import pandas as pd

In [93]:
seq = "MCHUMADQLTEEQIAEFKEAFSLFDKDGDGTITTKELGTVMRSLGQNPTEAELQDMINEVDADGNGTIDFPEFLTMMARKMKDTDSEEEIREAFRVFDKDGNGYISAAELRHVMTNLGEKLTDEEVDEMIREADIDGDGQVNYEEFVQMMTAK"

d1 = dict()
for i in seq:
    if i in d1:
        d1[i] += 1
    else:
        d1[i] = 1
print(d1)

{'M': 11, 'C': 1, 'H': 2, 'U': 1, 'A': 11, 'D': 17, 'Q': 6, 'L': 9, 'T': 12, 'E': 21, 'I': 8, 'F': 8, 'K': 8, 'S': 4, 'G': 11, 'V': 7, 'R': 6, 'N': 6, 'P': 2, 'Y': 2}

In [104]:
df = pd.DataFrame(d1.items(), columns=['Amino acid', 'Freq'])
df.set_index('Amino acid')

            Freq
Amino acid
M             11
C              1
H              2
U              1
A             11
D             17
Q              6
L              9
T             12
E             21
I              8
F              8
K              8
S              4
G             11
V              7
R              6
N              6
P              2
Y              2